@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Jersey+15&family=Righteous&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*All*/

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
}

/*Navbar*/

.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.font-roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
}

.font-bitcount {
    font-family: "Jersey 15", sans-serif;
}

.navbar.scrolled {
    background-color: rgba(36, 36, 36, 0.977) !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/*Float Effect*/

.animation-img {
    animation: float 6s ease-in-out infinite;
}


@keyframes float {

    0%,
    100% {
        transform: translateY(20);
    }

    50% {
        transform: translateY(-30px);
    }
}

/*Carousel*/

.carousel {
    overflow-x: hidden;
    scroll-behavior: auto;
    gap: 50px;
    padding: 10px;
    max-width: 2000px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

/*Collapse*/

.accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .28s ease;
}

/*Depoiments*/

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#prev,
#next {
    font-style: none;
    text-decoration: none;
    color: aliceblue;

    padding: 10px 13px 10px 13px;
}

/*arrow-effect*/

.arrow {
    transform: rotate(45deg);
    animation: move 1s infinite;
}

.arrow:nth-child(1) {
    border-color: rgb(102, 48, 108);
    animation-delay: 0s;
}

.arrow:nth-child(2) {
    border-color: rgb(118, 30, 130);
    animation-delay: 0.2s;
}

.arrow:nth-child(3) {
    border-color: rgb(205, 66, 223);
    animation-delay: 0.4s;
}

.arrow:nth-child(4) {
    border-color: rgb(205, 66, 223);
    animation-delay: 0.4s;
}

@keyframes move {

    0%,
    20% {
        transform: translateX(0) rotate(45deg);
        opacity: 0.5;
    }

    50% {
        transform: translateX(10px) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translateX(0) rotate(45deg);
        opacity: 0.5;
    }
}